html,
body {
    font-size:16px;
}
img {
    max-width:100%;
    display: block;
    margin:0 auto;
}

.home {}
    .bg-topo {
        position:absolute;
        top:0;
        left:0;
    }
        .marca-home {
            width: 80%;
            display: block;
            margin:0 auto;
            position: relative;
            padding-top: 15%;
        }

    .home-menu {
        margin-top: 30px;
    }
        .linha-1-menu {
            width:55%;
            margin:0 auto;
            overflow: hidden;
        }
            .linha-1-menu .item-menu{
                width:40%;
            }
            .linha-1-menu .item-menu-imagem {
                width:80%;
                margin:0 auto;
            }
            .linha-1-menu .item-menu-left {
                float:left;
            }
            .linha-1-menu .item-menu-right{
                float:right;
            }
        .linha-2-menu {
            width:90%;
            margin:0 auto;
            overflow: hidden;
        }
            .linha-2-menu .item-menu{
                width: 24.5%;
            }
            .linha-2-menu .item-menu-imagem {
                width:80%;
                margin:0 auto;
            }
            .linha-2-menu .item-menu-left {
                float:left;
            }
            .linha-2-menu .item-menu-right{
                float:right;
            }
        .item-menu {
            cursor: pointer;
        }
        .item-menu-meio {
            margin: 0 12%;
        }
        .item-menu p {
            color:#0d7187;
            font-size:0.8rem;
            text-align: center;
            margin-top: 5px;
        }
        .item-menu .p-amplo {
            width:120px;
            text-align:left;
        }

footer {
    position: relative;
}
    .bg-rodape {}
    .content-footer {
        position: absolute;
        top:15%;
        width:100%;
    }
    .social-media {
        width:100%;
        margin:0 auto;
        overflow: hidden;
    }
        .social-media p {
            text-align:center;
        }
        .social-media a {
            font-size: 1.4rem;
            color: #1c2b60;
            margin-left:15px;
            border:none;
            text-decoration: none;
        }
        .social-media a:first-child {
            margin-left:0;
        }
        .social-media a:hover {
            opacity: 0.8;
        }
    .assinatura-home {
        width: 48%;
        margin: 10% auto 0 auto;
    }

/* MENU */
.custom-bg-azul,
.menu .item {
    border:none;
    border-bottom:1px solid #071a35;
    background-color:#2c4b79 !important;
}
.menu .item .item-content {
    background-color:#2c4b79 !important;
    padding:16px 0;
}
.icon-menu {
    width:40%;
    margin:0 auto;
}
.item-content .titulo-menu {
    color:#ffffff;
    font-size:0.8rem;
    text-align: center;
    margin-top: 10px;
}

/* EVENTO */
.wrapper-evento{}
    .wrapper-evento > h1 {
        font-size:1.6rem;
        color:#6cacd3;
        font-weight: bold;
        text-align:center;
        width:70%;
        margin:30px auto 40px auto;
        text-transform: uppercase;
    }
    .wrapper-evento > p {
        color:#226086;
        font-size:1.3rem;
        text-transform: uppercase;
        padding:0 15px;
    }
    .infos-evento {
        margin:50px 0 10px 0;
    }
        .ti_evento {
            font-size:1.2rem;
            color:#226086;
            text-align:center;
        }
        .info-evento {
            border-bottom:1px solid #071a35;
            padding:15px 0 0 0 !important;
        }
        .info-evento:first-child {
            border-top:1px solid #071a35;
        }
            .content-info-evento > p {
                font-size:1rem;
                color:#226086;
            }
    .botao-como-chegar {
        display: block;
        margin:0 auto;
    }

/* LOCALIZAÇÕES */
.input-pesquisar {
    border-radius: 10px;
}
.icon-color-azul {
    color:#a6cde4;
}
.wrapper-cidades-localizacao {
    margin:0;
    padding:0;
    width:100%;
}
.item-stable-cidades-localizacao {
    margin:0;
    border:none;
    border-bottom:1px solid #071a35;
    text-align:center;
    font-size:1.6rem;
    color:#2c4b79;
}
    .item-stable-cidades-localizacao:first-child {
        border-top:1px solid #071a35;
    }

    #map {
      width: 100%;
      height: 160px;
      margin:0;
    }
    .infos-evento-localizacoes {
        margin-top:0;
    }

    #mapa_localizacao {
        width:100%;
        height:600px;
    }

/* FOTOS */
.wrapper-galeria {
    cursor: pointer;
}
    .legenda-foto {
        background-color:#6cacd3;
        padding:10px;
        color:#ffffff;
        font-weight: bold;
        text-align: center;
        font-size:1rem;
        margin-bottom:10px;
    }
    .wrapper-comentario-foto {
        width:95%;
        margin:0 auto;
        border:1px solid #898989;
        font-size:0.8rem;
        color:#6cacd3;
        padding:10px;
    }
    .onde_estou {
        padding:10px !important;
        border:1px solid #cccccc !important;
        color:#ffffff !important;
        background-color:transparent;
        width:100%;
    }
    .onde_estou::-webkit-input-placeholder {
       color: #ffffff !important;
    }

    .onde_estou:-moz-placeholder { /* Firefox 18- */
       color: #ffffff !important;
    }

    .onde_estou::-moz-placeholder {  /* Firefox 19+ */
       color: #ffffff !important;
    }

    .onde_estou:-ms-input-placeholder {
       color: #ffffff !important;
    }
    .wrapper-comentario-foto-envio input,
    .wrapper-comentario-foto-envio textarea {
        padding: 10px;
        border: 1px solid #cccccc;
        width: 100%;
        margin-bottom: 10px;
    }
    .wrapper-comentario-foto-envio textarea {
        height:;
    }
    .fotos_wall{
        padding: 0;
        border: none;
    }
        .fotos_wall a {
            padding:0 !important;
            margin:0;
        }

/* NOTICIAS */
.wrapper-noticias {
    margin:0;
    padding:0;
    width:100%;
}
.item-stable-noticias {
    margin:0;
    border:none;
    border-bottom:1px solid #071a35;
    text-align:center;
    font-size:1.6rem;
    color:#2c4b79;
}
    .item-stable-noticias:first-child {
        border-top:1px solid #071a35;
    }
    .item-stable-noticias h2 {
        white-space: normal;
        text-align: left;
        font-size:1rem;
        color:#6cacd3;
        font-weight: bold;
    }
    .item-stable-noticias p {
        white-space: normal;
        text-align: left;
        font-size:0.8rem;
    }

    .wrapper-noticia h1 {
        font-size:1.4rem;
        color:#6cacd3;
        font-weight: bold;
        text-align:center;
    }
    .imagem-noticia {
        margin:10px 0;
    }
    .wrapper-noticia p {
        white-space: normal;
        text-align: left;
        font-size:0.8rem;
        color:#6cacd3;
        font-weight: normal;
    }



@media screen and (min-width: 420px) {
    body,
    html {
        font-size:22px;
    }
}
