 <ion-view view-title="Agenda dia 21">
	<ion-content padding="true">
		<ion-list>
    		<div class="wrapper-cidades">
                <ion-item class="item-stable-cidades" href="#/app/programacao/1/1/2">
        			Titulo do evento 1
        		</ion-item>
        		<ion-item class="item-stable-cidades" href="#/app/programacao/1/1/2">
        			Titulo do evento 2
        		</ion-item>
            </div>
    	</ion-list>
  	</ion-content>
</ion-view>
