<ion-view view-title="Cidades">
    <ion-content padding="true">
        <ion-list>
            <div class="wrapper-cidades">
                <ion-item class="item-stable-cidades" ng-repeat="term in terms" href="#/app/programacao/{{estado}}/{{term.slug}}">
                    {{term.name}}
                    <span class="badge badge-assertive">{{term.count}}</span>
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
