<ion-view view-title="Eventos">
    <ion-content padding="true">
        <ion-list>
            <div class="wrapper-cidades">
                <ion-item class="item-stable-cidades" ng-repeat="post in posts" href="#/app/programacao/{{estado}}/{{cidade}}/{{post.ID}}">
                    {{post.title}}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
