<ion-view view-title="{{posts[0].title}}" ng-init="init()">
    <ion-content>
        <div class="wrapper-evento">
            <div id="map" data-tap-disabled="true"></div>
            <h2 class="ti_evento">{{posts[0].title}}</h2>
            <div class="infos-evento infos-evento-localizacoes">
                <div class="row info-evento">
                    <div class="icon-info-evento col col-10">
                        <img src="img/icon-evento-localizacao.png">
                    </div>
                    <div class="content-info-evento col col-90">
                        <p ng-bind-html="posts[0].meta.endereco"></p>
                    </div>
                </div>
                <div class="row info-evento">
                    <div class="icon-info-evento col col-10">
                        <img src="img/icon-evento-contato.png">
                    </div>
                    <div class="content-info-evento col col-90">
                        <p ng-bind-html="posts[0].meta.contato"></p>
                    </div>
                </div>
                <div class="row info-evento">
                    <div class="icon-info-evento col col-10">
                        <img src="img/icon-evento-horario.png">
                    </div>
                    <div class="content-info-evento col col-90">
                        <p ng-bind-html="posts[0].meta.hora"></p>
                    </div>
                </div>
                <div class="row info-evento">
                    <div class="icon-info-evento col col-10">
                        <img src="img/icon-evento-data.png">
                    </div>
                    <div class="content-info-evento col col-90">
                        <p ng-bind-html="posts[0].meta.data"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <button class="button button-calm botao-como-chegar" ng-click="comoChegar(latitude, longitude);">
                        Como Chegar
                    </button>
                </div>
                <div class="col col-50">
                    <button class="button button-calm botao-como-chegar" ng-click="addAgenda(ppost_id);">
                        Adicionar
                    </button>
                </div>
        </div>
    </ion-content>
</ion-view>
