<ion-view view-title="{{post.title}}">
	<ion-content>
        <div class="wrapper-foto">
            <img ng-src="{{post.featured_image.attachment_meta.sizes.large.url}}" />
        </div>
        <p class="legenda-foto">
            {{post.meta.onde_esta}}
        </p>
        <div class="wrapper-comentario-foto">
            <p>
                {{post.meta.comentario}}
            </p>
        </div>
	</ion-content>
</ion-view>
