 <ion-view view-title="Mande sua Foto">
	<ion-content>
        <ion-list class="default_foto" ng-show="pegar_foto">
    		<div class="row wrapper-galeria">
                <ion-item ng-repeat="post in posts" href="#/app/fotos/{{post.ID}}" class="fotos_wall col col-25">
                    <img ng-src="{{post.featured_image.attachment_meta.sizes.thumbnail.url}}" />
                </ion-item>
            </div>
            <div class="row">
                <button class="button button-calm botao-como-chegar" ng-click="opcao_photo()">
                    Enviar uma foto
                </button>
            </div>
        </ion-list>
        <div class="send_foto" ng-hide="pegar_foto">
            <div class="wrapper-foto">
                <img id="image-preview" src="" />
            </div>
            <p class="legenda-foto">
                <input type="text" name="evento" placeholder="Onde você está?" class="onde_estou" required>
            </p>
            <div class="wrapper-comentario-foto wrapper-comentario-foto-envio">
                <input type="text" name="nome" placeholder="Escreva seu nome" class="meu_nome" required>
                <textarea name="comentario_foto" maxlength="50" placeholder="Escreva um comentário" class="meu_comentario" required></textarea>
            </div>
            <div class="row">
                <button class="button button-calm botao-como-chegar" ng-click="sendPhoto()">
                    Enviar
                </button>
            </div>
        </div>

        <div class="list card box_opcao_foto" ng-show="opcao_foto">
            <a href="#" class="item item-icon-left" ng-click="getPhoto(1)">
                <i class="icon ion-camera"></i>
                Câmera
            </a>

            <a href="#" class="item item-icon-left" ng-click="getPhoto(2)">
                <i class="icon ion-image"></i>
                Galeria
            </a>
        </div>


  	</ion-content>
</ion-view>
