<ion-view view-title="" hide-nav-bar="true">
  	<ion-content class="home" has-header="false" padding="false">
		<header>
			<img src="img/bg-menu-topo.png" class="bg-topo">
			<div class="marca-home">
				<img src="img/snct.png">
			</div>
		</header>
		<div class="home-menu">
			<div class="linha-1-menu">
				<div class="item-menu item-menu-left" ng-click="openPage( 'app.programacao' );">
					<div class="item-menu-imagem">
						<img src="img/icon-programacao.png">
					</div>
					<p class="p-amplo">Programação</p>
				</div>
				<div class="item-menu item-menu-right" ng-click="openPage( 'app.agenda' );">
					<div class="item-menu-imagem">
						<img src="img/icon-agenda.png">
					</div>
					<p>Minha Agenda</p>
				</div>
			</div>
			<div class="linha-2-menu">
				<div class="item-menu item-menu-left" ng-click="openPage( 'app.fotos' );">
					<div class="item-menu-imagem">
						<img src="img/icon-foto.png">
					</div>
					<p>Mande sua Foto</p>
				</div>
				<div class="item-menu item-menu-left item-menu-meio" ng-click="openPage( 'app.noticias' );">
					<div class="item-menu-imagem">
						<img src="img/icon-noticias.png">
					</div>
					<p>Noticias</p>
				</div>
				<div class="item-menu item-menu-left" ng-click="openPage( 'app.localizacoes' );">
					<div class="item-menu-imagem">
						<img src="img/icon-localizacoes.png">
					</div>
					<p class="p-amplo">Localizações</p>
				</div>
			</div>
		</div>
		<footer>
			<img src="img/bg-menu-rodape.png" class="bg-rodape">
			<div class="content-footer">
				<div class="social-media">
                    <p>
    					<a href="#" onclick="window.open('https://www.facebook.com/SintonizeMCTI/', '_system', 'location=yes'); return false;">
    						<i class="ion-social-facebook"></i>
    					</a>
    					<a href="#" onclick="window.open('https://twitter.com/MCTI', '_system', 'location=yes'); return false;">
    						<i class="ion-social-twitter"></i>
    					</a>
    					<a href="#" onclick="window.open('https://www.youtube.com/c/mcti', '_system', 'location=yes'); return false;">
    						<i class="ion-social-youtube"></i>
    					</a>
                    </p>
				</div>
				<div class="assinatura-home">
					<img src="img/Logo_MCTI_Horizontal_Documento.jpg">
				</div>
			</div>
		</footer>
  	</ion-content>
</ion-view>
