<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-calm">
            <ion-nav-back-button></ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu width="140" side="left" class="custom-bg-azul">
        <ion-content>
            <ion-list>
                <ion-item menu-close href="#/home">
                    <div class="icon-menu">
                        <img src="img/icon-menu-home.png">
                    </div>
                    <p class="titulo-menu">Home</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="#/app/programacao">
                    <div class="icon-menu">
                        <img src="img/icon-menu-programacao.png">
                    </div>
                    <p class="titulo-menu">Programação</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="#/app/agenda">
                    <div class="icon-menu">
                        <img src="img/icon-menu-agenda.png">
                    </div>
                    <p class="titulo-menu">Minha Agenda</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="#/app/fotos">
                    <div class="icon-menu">
                        <img src="img/icon-menu-fotos.png">
                    </div>
                    <p class="titulo-menu">Mande sua Foto</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="#/app/noticias">
                    <div class="icon-menu">
                        <img src="img/icon-menu-noticias.png">
                    </div>
                    <p class="titulo-menu">Noticias</p>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item menu-close href="#/app/localizacoes">
                    <div class="icon-menu">
                        <img src="img/icon-menu-localizacoes.png">
                    </div>
                    <p class="titulo-menu">Localizações</p>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
