 <ion-view view-title="{{post.title}}">
	<ion-content padding="true">
		<div class="wrapper-noticia">
            <h1>{{post.title}}</h1>
            <div class="imagem-noticia">
                <img ng-src="{{post.featured_image.guid}}" />
            </div>
            <div ng-bind-html="post.content"></div>
        </div>
  	</ion-content>
</ion-view>
