 <ion-view view-title="Noticias">
	<ion-content>
        <ion-list>
            <div class="wrapper-noticias">
                <ion-item class="item-stable-noticias" ng-repeat="post in posts" href="#/app/noticias/{{post.ID}}">
                    <div class="row">
                        <div class="col col-30">
                            <img ng-src="{{post.featured_image.guid}}" />
                        </div>
                        <div class="col col-70">
                            <h2 class="titulo noticia">{{post.title}}</h2>
                            <!-- <div ng-bind-html="post.excerpt"></div> -->
                        </div>
                    </div>
                </ion-item>
            </div>
        </ion-list>
  	</ion-content>
</ion-view>
